.home-page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/escape-pods-background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-page-container2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/home_background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-page-container-retro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../../images/first-retro-Background.png');
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-right: 50px;
    width: 400px;
    margin-top: 65px;
}

.hero-div h1 {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.hero-div h3 {
    text-align: center;
}

.button {
    border: none;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

.navbar {
    background-color: #2f324f;
}

.pagination {
    display: inline-block;
    
  }
  
  .pagination a {
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: rgb(207, 255, 104);
    color: rgb(0, 0, 0);
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #71e5ff7e;
    border-radius: 5px;
  }

  .ul-games {
    list-style-type: none;
    width: 350px;
    height: 310px;
}

.tabla {
    background-color: #00ff6658;
    margin-top: 4px;
}