.game-page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/game-background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.game-board {
    position: absolute;
    background-image: url('../../images/escape-pods-board-horizontal.jpg');
    background-size: cover;
    display: flex;
    max-width: 710px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    margin-top: 66px;
}

.pod3 {
    position: absolute;
    background-image: url('../../images/pod3.png');
    background-size: cover;
    display: flex;
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    width: 100%;
}

.pod2 {
    position: absolute;
    background-image: url('../../images/pod2.png');
    background-size: cover;
    display: flex;
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    width: 100%;
}

.pod1 {
    position: absolute;
    background-image: url('../../images/pod1.png');
    background-size: cover;
    display: flex;
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    width: 100%;
}

.shelter-horizontal {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/pink-shelter.png');
    max-width: 179px;
    max-height: 130px;
    height: 100%;
    width: 100%;
}

.pod1 {
    position: absolute;
    background-image: url('../../images/pod1.png');
    background-size: cover;
    display: flex;
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    width: 100%;
}

.black-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/blackActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.black-special-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/blackSpecialActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.blue-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/blueActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.blue-special-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/blueSpecialActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.yellow-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/yellowActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.yellow-special-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/yellowSpecialActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.pink-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/pinkActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.pink-special-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    background-image: url('../../images/pinkSpecialActionCard.png');
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

