.game-page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/game-background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.game-board {
    position: absolute;
    background-image: url('../../images/escape-pods-board-horizontal.jpg');
    background-size: cover;
    display: flex;
    max-width: 710px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    margin-top: 66px;
}

.pod3, .pod2, .pod1 {
    position: absolute;
    background-size: cover;
    display: flex;
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    width: 100%;
}

.pod3 {
    background-image: url('../../images/pod3.png');
}

.pod2 {
    background-image: url('../../images/pod2.png');
}

.pod1 {
    background-image: url('../../images/pod1.png');
}

.shelter-pink, .shelter-blue, .shelter-yellow, .shelter-green, .shelter-orange {
    position: absolute;
    background-size: cover;
    display: flex;
    max-width: 179px;
    max-height: 130px;
    height: 100%;
    width: 100%;
}

.shelter-pink {
    background-image: url('../../images/pink-shelter.png');
}
.shelter-blue {
    background-image: url('../../images/blue-shelter.png');
}
.shelter-yellow {
    background-image: url('../../images/yellow-shelter.png');
}
.shelter-green {
    background-image: url('../../images/green-shelter.png');
}
.shelter-orange {
    background-image: url('../../images/orange-shelter.png');
}

.black-action-card, .black-special-action-card, .blue-action-card, .blue-special-action-card, .yellow-action-card, 
.yellow-special-action-card, .pink-action-card, .pink-special-action-card, .white-action-card, .white-special-action-card {
    position: absolute;
    background-size: cover;
    display: flex;
    max-width: 230px;
    max-height: 165px;
    height: 100%;
    width: 100%;
}

.black-action-card {
    background-image: url('../../images/blackActionCard.png');
}

.black-special-action-card {
    background-image: url('../../images/blackSpecialActionCard.png');
}

.blue-action-card {
    background-image: url('../../images/blueActionCard.png');
}

.blue-special-action-card {
    background-image: url('../../images/blueSpecialActionCard.png');
}

.yellow-action-card {
    background-image: url('../../images/yellowActionCard.png');
}

.yellow-special-action-card {
    background-image: url('../../images/yellowSpecialActionCard.png');
}

.pink-action-card {
    background-image: url('../../images/pinkActionCard.png');
}

.pink-special-action-card {
    background-image: url('../../images/pinkSpecialActionCard.png');
}

.white-action-card {
    background-image: url('../../images/whiteActionCard.png');
}

.white-special-action-card {
    background-image: url('../../images/whiteSpecialActionCard.png');
}
